@using HarderBetterFasterStronger.Helpers

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script src="@Url.Content("~/Assets/Javascript/jquery.color.js")"></script>
    <link href="@Url.Content("~/Assets/Stylesheets/reset.css")" rel="stylesheet" type="text/css" />
    <link href='http://fonts.googleapis.com/css?family=PT+Sans+Caption' rel='stylesheet' type='text/css'>
    <link href="@Url.Content("~/Assets/Stylesheets/layout.css")" rel="stylesheet" type="text/css" />
    @RenderSection("Head", false)
</head>
<body>
    <header>
        <img id="logo" src="@Url.Content("~/Assets/Images/logo.png")" alt="Harder Better Faster Stronger Logo" />
        <nav>
            <a @if (ViewBag.Page == "Workout") { <text>class="active"</text> } href="@Url.Action("Index", "Workout")"><img src="@Url.Content("~/Assets/Images/workout.png")" alt="Workout" /></a>
            <a @if (ViewBag.Page == "History") { <text>class="active"</text> } href="@Url.Action("Index", "History")"><img src="@Url.Content("~/Assets/Images/history.png")" alt="History" /></a>
        </nav>
    </header>
    <div id="content-wrapper">
        @RenderBody()
    </div>
</body>
</html>