@using HarderBetterFasterStronger.Core.Constants
@model Dictionary<string, List<HarderBetterFasterStronger.Models.Activity>>

@{
    ViewBag.Title = "History - Harder Better Faster Stronger";
    ViewBag.Page = "History";
}

@section Javascript {
    <script src="@Url.Content("~/Assets/Javascript/history.js")"></script>
    <script type="text/javascript">
        var weights = {
            @foreach (var activity in Model)
            {
                @:"@activity.Key" : [
                    foreach (var record in activity.Value)
                    {
                        @:@record.Weight,
                    }
                @:],
            }
        };

        $(document).ready(function () {
            drawGraph("@ActivityName.Squat", "squat");
            drawGraph("@ActivityName.BenchPress", "bench");
            drawGraph("@ActivityName.OverheadPress", "overhead");
            drawGraph("@ActivityName.Deadlift", "deadlift");
        });
    </script>
}

@section Stylesheets {
    <link href="@Url.Content("~/Assets/Stylesheets/history.css")" rel="stylesheet" type="text/css" />
}

<h2>History</h2>

<h3>@ActivityName.Squat</h3>
<canvas id="squat" class="graph" width="880" height="260">A modern browser is required to render this graph.</canvas>

<div class="table-wrapper">
    <table>
        <tr>
            @foreach (var record in Model.Single(x => x.Key == ActivityName.Squat).Value)
            {
                <td>
                    <span class="date">@record.Date.ToString("dd/MM")</span>
                    @record.Weight
                </td>
            }
        </tr>
    </table>
</div>

<h3>@ActivityName.BenchPress</h3>
<canvas id="bench" class="graph" width="880" height="260">A modern browser is required to render this graph.</canvas>

<div class="table-wrapper">
    <table>
        <tr>
            @foreach (var record in Model.Single(x => x.Key == ActivityName.BenchPress).Value)
            {
                <td>
                    <span class="date">@record.Date.ToString("dd/MM")</span>
                    @record.Weight
                </td>
            }
        </tr>
    </table>
</div>

<h3>@ActivityName.OverheadPress</h3>
<canvas id="overhead" class="graph" width="880" height="260">A modern browser is required to render this graph.</canvas>

<div class="table-wrapper">
    <table>
        <tr>
            @foreach (var record in Model.Single(x => x.Key == ActivityName.OverheadPress).Value)
            {
                <td>
                    <span class="date">@record.Date.ToString("dd/MM")</span>
                    @record.Weight
                </td>
            }
        </tr>
    </table>
</div>

<h3>@ActivityName.Deadlift</h3>
<canvas id="deadlift" class="graph" width="880" height="260">A modern browser is required to render this graph.</canvas>

<div class="table-wrapper">
    <table>
        <tr>
            @foreach (var record in Model.Single(x => x.Key == ActivityName.Deadlift).Value)
            {
                <td>
                    <span class="date">@record.Date.ToString("dd/MM")</span>
                    @record.Weight
                </td>
            }
        </tr>
    </table>
</div>