@model HarderBetterFasterStronger.Models.Workout

@{
    ViewBag.Title = "Current Workout - Harder Better Faster Stronger";
    ViewBag.Page = "Workout";
}

@section Javascript {
    <script type="text/javascript">
        var completeActivityUrl = "@Url.Action("CompleteActivity", "Workout")";
    </script>
    <script src="@Url.Content("~/Assets/Javascript/workout.js")"></script>
}

@section Stylesheets {
    <link href="@Url.Content("~/Assets/Stylesheets/workout.css")" rel="stylesheet" type="text/css" />
}

<h2>Workout: Routine @Model.Routine</h2>

@foreach (var activity in Model.Activities)
{
    if (activity.IsComplete)
    {
        <div class="activity complete">
            <h3>@activity.Name (Complete)</h3>
        </div>
    }
    else
    {
        <div class="activity">
            <h3>@activity.Name</h3>
            <div class="details">
                <h4>Warm-up Sets</h4>
                <table>
                    <thead>
                        <tr>
                            <th rowspan="2">Reps</th>
                            <th rowspan="2">Weight</th>
                            <th colspan="6" class="plates-per-side">Plates per Side (lb)</th>
                        </tr>
                        <tr>
                            <th>2.5</th>
                            <th>5</th>
                            <th>10</th>
                            <th>25</th>
                            <th>35</th>
                            <th>45</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var set in activity.WarmupSets)
                        {
                            <tr>
                                <td>@set.Repetitions</td>
                                <td>@set.Weight</td>
                                <td>@set.PlatesPerSide.NumberOf2lbPlates</td>
                                <td>@set.PlatesPerSide.NumberOf5lbPlates</td>
                                <td>@set.PlatesPerSide.NumberOf10lbPlates</td>
                                <td>@set.PlatesPerSide.NumberOf25lbPlates</td>
                                <td>@set.PlatesPerSide.NumberOf35lbPlates</td>
                                <td>@set.PlatesPerSide.NumberOf45lbPlates</td>
                            </tr>
                        }
                    </tbody>
                </table>

                <h4>Work Sets</h4>
                <table>
                    <thead>
                        <tr>
                            <th rowspan="2">Reps</th>
                            <th rowspan="2">Weight</th>
                            <th colspan="6" class="plates-per-side">Plates per Side (lb)</th>
                        </tr>
                        <tr>
                            <th>2.5</th>
                            <th>5</th>
                            <th>10</th>
                            <th>25</th>
                            <th>35</th>
                            <th>45</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var set in activity.WorkSets)
                        {
                            <tr>
                                <td>@set.Repetitions</td>
                                <td>@set.Weight</td>
                                <td>@set.PlatesPerSide.NumberOf2lbPlates</td>
                                <td>@set.PlatesPerSide.NumberOf5lbPlates</td>
                                <td>@set.PlatesPerSide.NumberOf10lbPlates</td>
                                <td>@set.PlatesPerSide.NumberOf25lbPlates</td>
                                <td>@set.PlatesPerSide.NumberOf35lbPlates</td>
                                <td>@set.PlatesPerSide.NumberOf45lbPlates</td>
                            </tr>
                        }
                    </tbody>
                </table>

                @using (Html.BeginForm())
                {
                    @Html.Hidden("activityId", activity.Id)
                    @Html.Hidden("isFailure")
                }

                <a class="success" href="/">Success</a> <a class="failure" href="/">Failure</a>
            </div>
        </div>
    }
}

<aside>
    <h3>Resources</h3>
    <ul>
        <li><a target="_blank" href="http://www.exrx.net/Testing/WeightLifting/StrengthStandards.html">Weightlifting Performance Standards</a></li>
        <li><a target="_blank" href="http://www.reddit.com/r/fitness">Fittit</a></li>
        <li><a target="_blank" href="http://www.fitocracy.com">Fitocracy</a></li>
    </ul>
</aside>